*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Open Sans";
}

:root{
    --black:#141414;
    --grey: #202020;
    --cream: antiquewhite;
    --blue: #679ce6;

    --main-font:"Krona One", sans-serif;
    --secund-font:"Montserrat", sans-serif;
}

body{
    background-size: contain;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

nav{
    width: 100%;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,0.7), transparent);
    backdrop-filter: blur(2px);
    text-align: center;
}

nav ul li{

    display: inline-block;

}

nav ul li a{
    text-decoration: none;
    padding:  5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: var(--cream);
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.25s ease-in-out;
}

nav ul li a:hover{
    border-bottom: 3px solid var(--blue);
}

img{
    display: flex;
    background-size: contain;
}

section:nth-of-type(1){
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.start{
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.start img {
    width: 500px;
    display: flex;
}

.text{
    padding-left: 5%;
    color: antiquewhite;

}

h1{
    font-size: 4rem;
    color:  var(--blue);
}

p {
    font-size: 3rem;
}


section:nth-of-type(2){
    background-color: var(--black);
    display: flex;
    align-items: center;
    color: var(--cream);
    padding: 3% 0;
}

.about{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;


}

.about h2{
    font-size: 4rem;
    color: var(--blue);
}

.about p {
    text-align: center;
    display: flex;
    font-size: 20px;
    padding: 0 10%;

}
.icons{
    font-size: 3rem;
    gap: 3rem;
}
section:nth-of-type(3){
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    padding: 0 5%;
}

.grid {
    padding: 5% 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: 
    repeat(var(--column-count), 1fr);
}
.grid[data-columns="2"] {
    --column-count: 2;
}
.grid[data-columns="3"] {
    --column-count: 3;
}
.grid[data-columns="4"] {
    --column-count: 4;
}

.card{
    background: rgba(14, 14, 14, 0.699);
    border-radius: 10px;
    margin: 50px 0;
}

.card:hover{
    background-color: var(--grey);
    transition: 0.5s;
}

.card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--cream);
    gap: 2rem;

}
#sessao3 h3 {
    margin: 5%;
    font-size: 3rem;
}

#sessao3 img {
    
    width: 400px;
    height: 250px;
}
.card p {
    font-size: 18px;
    padding: 0 5%;
}

section:nth-of-type(4){
    align-items: center;
    padding: 5%;
}

#sessao4 {
    background-color: var(--black);
}

.contato{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2rem;


}

h4{
    text-align: center;
    color: var(--cream);
    font-size: 3rem;
    padding: 0 0 5% 0 ;
}

.contato p{
    font-size: 1.50rem;
    color: var(--cream);
}


.rodapé{
    padding: 3rem;
}